body {
    width: 960px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: repeating-linear-gradient(to bottom right, blue, teal);
}

.center {
    align-content: center;
}